html {
  overflow-x: hidden;
	overflow-y: auto;
	height: 100%;
}

body {
	overflow-x: hidden;
	min-height: 100%;
	display: flex;
	flex-direction: column;

	main {
		flex-grow: 1;
	}

	footer {
		margin-top: auto;
	}
}
