$color-white: #fff !default;
$color-black: #151515 !default;
$color-orange: #F2B725 !default;
$color-grey: #F0F0F0 !default;
$color-red: #D16453 !default;

$colors: (
  "white": $color-white,
  "black": $color-black,
);
